page-login {
  ion-content {
    background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);
    .item-md.login-item, .item-ios.login-item {
      background-color: transparent;
    }
    .item-input .label-md,
    .item-select .label-md,
    .item-datetime .label-md {
      color: white;
    }
  }
}
